<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="edu.illinois.rokwire.rokwire_plugin">

    <!-- GeofenceMonitor: For supporting API <= 29 -->
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
</manifest>
